<div class="inf">
    <div class="inf1">
        <% if(ficha.atributos == null){ficha.atributos = new Object()} %>
        <div class="infImage" <%- ficha.atributos.imagem ? `style="display: flex;" ` : "" %>>
            <%- ficha.atributos.imagem ? `<img class="avatar" src="${ficha.atributos.imagem}"><textarea
                    class="atbIInput" id="imagem" cols="15" rows="3" maxlength="4096"
                    name="imagem">${ficha.atributos.imagem}</textarea>` : null%>
        </div>
        <% if (services.checkAtbs(ficha, 'atbsI1' )) { %>
            <div class="inf1Div" id="boxScroll">
                <div class="atbI1">
                    <%- services.generateFormInf(ficha) %>
                </div>
            </div>
            <% } else { %>
                <h3>Esta ficha não possuí nenhum atributo nesta seção</h3>
                <% } %>
    </div>
    <div class="desc">
        <%- ficha.atributos.descricao !=null && ficha.atributos.descricao !="excluir" ? `<textarea class="descInput"
            id="descricao" cols="110" rows="20" maxlength="4096" name="descricao" placeHolder="Descrição do personagem">${ficha.atributos.descricao}</textarea>` :
            `<h3>Esta fichab não possuí nenhum atributo nesta seção</h3>`%>
    </div>
</div>
<div class="inf2">
    <% if (services.checkAtbs(ficha, 'atbsI2' )) { %>
        <div class="inf2Div" id="boxScroll">
            <div class="atbI2">
                <%- services.generateFormInf2(ficha) %>
            </div>
        </div>
        <% } else { %>
            <h3>Esta ficha não possuí nenhum atributo nesta seção</h3>
            <% } %>
</div>
<div class="status">
    <% if (services.checkAtbs(ficha, 'atbsS' )) { %>
        <div class="inf1Div" id="boxScroll">
            <div class="atbI1">
                <%- services.generateFormStatus(ficha) %>
            </div>
        </div>
        <% } else { %>
            <h3>Esta ficha não possuí nenhum atributo nesta seção</h3>
            <% } %>
</div>