<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&&display=swap" rel="stylesheet">

<title>Kami - <%= tutorial.title %></title>
<meta name="title" content="Kami - <%= tutorial.title %>">
<meta name="description" content="<%= tutorial.desc %>">

<meta property="og:title" content="Kami - <%= tutorial.title %>"/>
<meta property="og:description" content="<%= tutorial.desc %>"/>
<meta property="og:image" content="https://cdn.discordapp.com/attachments/737416028857958480/911108906997153802/logo.png"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://kamibot.vercel.app/<%= tutorial.link %>">
<meta name="theme-color" content="#0082FF">

<link type="application/json+oembed" href="/others/preview.json" />