<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/comandos.css">
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs', {session: session}); %>
    </header>
    <main>
        <section class="top-text">
            <h1>Aqui você pode ver uma lista completa de todos os comandos presentes no Kami! </h1>
            <p>Mas, claro, se você
                precisar de mais ajuda você pode dar uma olhada
                na aba <b><a href="/tutoriais">Tutoriais</a></b>
                e se ainda precisar de ajuda você pode perguntar no <b><a target="_blank"
                        href="/suporte">Servidor de Suporte do Kami no Discord.</a></b>
                Esta lista também pode ser visualizada direto no BOT utilizando o comando <b>/ajuda</b>
            <p>
        </section>

        <section class="commands-list">
            <% for (c of comandos){ %>
                <div class="category">
                    <div class="cmd" <%=`style=width:${boxSize.width};height:${boxSize.height}` %>>
                        <h3>
                            <%= `${c[1].type==1 ? "/" : "Apps > " }${c[1].name}` %>
                        </h3>
                        <p>
                            <%= c[1].description %>
                        </p>
                    </div>
                </div>
                <% } %>
        </section>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer.ejs', {}); %>
    </footer>
</body>
</html>