<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/ficha.css">
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs', {session: session}) %>
    </header>
    <main>
        <div class="flex">
            <div class="topBox">
                <div class="info">
                    <h1>
                        Ficha: <%= ficha.nomerpg%>
                    </h1>
                    <h4>Criada por: <%= session.user.username %>#<%=session.user.discriminator%>
                    </h4>
                    <div class="controles">
                        <button id="addAtb">Adicionar atributo</button>
                        <button id="delAtb">Remover atributo</button>
                        <button id="salvarFicha">Salvar alterações</button>
                        <button id="renomearFicha">Renomear ficha</button>
                        <button id="apagarFicha">Apagar ficha</button>
                    </div>
                    <div class="addAtb">
                        <form>
                            <label for="toAddAtb">Atributo para adicionar:</label>
                            <input id="toAddAtb" type="text" name="atb" placeholder="Nome do atributo. Ex: Destreza">
                            <input id="valor" type="text" name="valor" placeholder="Valor do atributo">
                            <input id="nomerpg" type="hidden" name="nomerpg" value="<%= ficha.nomerpg %>">
                            <input id="id" type="hidden" name="id" value="<%= session.user.id %>">
                            <input id="tag" type="hidden" name="tag"
                                value="<%= session.user.username %>#<%=session.user.discriminator%>">
                        </form>
                        <button id="addAtbConf">Adicionar</button>
                        <button id="addAtbCanc">Cancelar</button>
                    </div>
                    <div class="delAtb">
                        <form>
                            <label for="toDelAtb">Atributo para remover:</label>
                            <input id="toDelAtb" type="text" name="atb" placeholder="Nome do atributo. Ex: Destreza">
                            <input id="nomerpg" type="hidden" name="nomerpg" value="<%= ficha.nomerpg %>">
                            <input id="id" type="hidden" name="id" value="<%= session.user.id %>">
                            <input id="tag" type="hidden" name="tag"
                                value="<%= session.user.username %>#<%=session.user.discriminator%>">
                        </form>
                        <button id="delAtbConf">Remover</button>
                        <button id="delAtbCanc">Cancelar</button>
                    </div>
                    <div class="confApagar">
                        <h3>Tem certeza que deseja apagar esta ficha?</h3>
                        <button id="apagarFichaConf">Apagar</button>
                        <button id="apagarFichaCanc">Cancelar</button>
                    </div>
                    <div class="renFicha">
                        <form>
                            <label for="novoNomeRpg">Novo nome para a ficha:</label>
                            <input id="novoNomeRpg" type="text" name="novoNomeRpg"
                                placeholder="Novo nome da ficha. Ex: RPG_Kami">
                        </form>
                        <button id="renFichaConf">Renomear</button>
                        <button id="renFichaCanc">Cancelar</button>
                    </div>
                    <div class="message">
                        <div class="loading">
                            <div class="loadWheel"></div>
                        </div>
                        <div class="response">
                            <h2 class="responseTitle"></h2>
                            <p class="responseText"></p>
                            <button id="confirmMessage">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex2">
            <div class="inf">
                <div class="inf1">
                        <div class="infImage" <%- ficha.atributos.imagem ? `style="display: flex;" ` : "" %>>
                            <%- ficha.atributos.imagem ? `<img class="avatar" src="${ficha.atributos.imagem}"><textarea
                                    class="atbIInput" id="imagem" cols="15" rows="3" maxlength="4096"
                                    name="imagem">${ficha.atributos.imagem}</textarea>` : null%>
                        </div>
                            <% if (services.checkAtbs(ficha, 'atbsI1' )) { %>
                                <div class="inf1Div" id="boxScroll">
                                    <div class="atbI1">
                                        <%- services.generateFormInf(ficha) %>
                                    </div>
                                </div>
                                <% } else { %>
                                    <h3>Esta ficha não possuí nenhum atributo nesta seção</h3>
                                    <% } %>
                </div>
                <div class="desc">
                    <%- ficha.atributos.descricao !=null && ficha.atributos.descricao !="excluir" ? `<textarea
                        class="descInput" id="descricao" cols="110" rows="20" maxlength="4096" name="descricao"
                        placeHolder="Descrição do personagem">${ficha.atributos.descricao}</textarea>` : `<h3>Esta ficha
                            não
                            possuí nenhum atributo nesta seção</h3>`%>
                </div>
            </div>
            <div class="inf2">
                <% if (services.checkAtbs(ficha, 'atbsI2' )) { %>
                    <div class="inf2Div" id="boxScroll">
                        <div class="atbI2">
                            <%- services.generateFormInf2(ficha) %>
                        </div>
                    </div>
                    <% } else { %>
                        <h3>Esta ficha não possuí nenhum atributo nesta seção</h3>
                        <% } %>
            </div>
            <div class="status">
                <% if (services.checkAtbs(ficha, 'atbsS' )) { %>
                    <div class="inf1Div" id="boxScroll">
                        <div class="atbI1">
                            <%- services.generateFormStatus(ficha) %>
                        </div>
                    </div>
                    <% } else { %>
                        <h3>Esta ficha não possuí nenhum atributo nesta seção</h3>
                        <% } %>
            </div>
        </div>
        </div>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <script src="/scripts/buttonHandlerFicha.js"></script>
    </main>
    <footer>
        <%- include('./partials/betaFooter.ejs', {}); %>
    </footer>
</body>

</html>