<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/jogador.css">
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs', {session: session}) %>
    </header>
    <main>
        <div class="flex">
            <div class="topBox">
                <h1>Área do jogador</h1>
            </div>
            <div class="flex2">
                <div class="card">
                    <div class="title">
                        <h1>Fichas</h1>
                    </div>
                    <div class="cardBody" id="cardScroll">
                        <% for (var f of info.fichas){%>
                            <a class="item" href="/user/jogador/ficha/<%= `${f}`%>">
                                <h2>
                                    <%= f %>
                                </h2>
                            </a>
                            <%}%>
                            <a>
                                <form class="novaFicha">
                                    <input id="nomerpg" type="text" name="nomerpg" placeholder="Nome da ficha. Ex: RPG_Kami" maxlength="80">
                                    <input id="id" type="hidden" name="id" value="<%= `${session.user.id}`%>">
                                    <button id="criarFicha" type="button">Criar nova ficha</button>
                                </form>
                            </a>
                            <div class="message">
                                <div class="loading">
                                    <div class="loadWheel"></div>
                                </div>
                                <div class="response">
                                    <h2 class="responseTitle"></h2>
                                    <p class="responseText"></p>
                                    <button id="confirmMessage">Ok</button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card">
                    <div class="title">
                        <h1>Campanhas</h1>
                    </div>
                    <div class="cardBody" id="cardScroll">
                        <h2>Em desenvolvimento</h2>
                    </div>
   
                </div>
                <div class="card">
                    <div class="title">
                        <h1>Outras funções</h1>
                    </div>
                    <div class="cardBody" id="cardScroll">
                        <h2>Em desenvolvimento</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <script src="/scripts/buttonHandlerJogador.js"></script>
    </main>
    <footer>
        <%- include('./partials/betaFooter.ejs', {}); %>
    </footer>
</body>

</html>