<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/tutorial.css">
</head>

<body>

    <header>
        <%- include('./partials/nav.ejs') %>
    </header>

    <main>
        <section class="tutorial-body">
            <div class="title">
                <h1>
                    <%= tutorial.title %>
                </h1>
                <p>
                    <%= tutorial.desc %>
                </p>
            </div>
            <div class="tutorial" id="tutorial">
                <%- tutorial.tutorial %>
            </div>
            <div class="help">
                <h2>Precisa de mais ajuda?</h2>
                <p>Você pode procurar por mais tutoriais, ou se preferir, peça ajuda no servidor do Kami no Discord!</p>
                <div class="helpBtn">
                    <a href="/tutoriais">Tutoriais</a>
                    <a href="https://discord.com/invite/9rqCkFB" target="_blank">Servidor do Kami no Discord</a>
                </div>
            </div>
        </section>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer.ejs', {}); %>
    </footer>

</body>


</html>