<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/tutoriais.css">
</head>

<body>

    <header>
        <%- include('./partials/nav.ejs', {session: session}); %>
    </header>

    <main>
        <section class="top-text">
            <h1>Se precisa de ajuda com algum comando este lugar pode te ajudar!</h1>
            <p>Mas, claro, se você
                precisar de mais ajuda você pode perguntar no
                <b><a target="_blank" href="https://discord.com/invite/9rqCkFB">Servidor de Suporte do Kami no
                        Discord.</a></b>
            <p>

            <div class="search-container">
                <form role="search" id="form" class="search">
                    <input class="searchTerm" type="search" id="query" name="search" placeholder="<%= query ? "" : "Quer ajuda com o quê?"%>" value="<%= query ? query : "" %>"
                        aria-label="Procure um tutorial.">
                    <button class="searchButton"><img src="../assets/img/search.svg" class="searchBtn"></button>
                </form>
            </div>

        </section>
        
        <% if( queryFind && query != null) { %>

        <section class="tutorial-list" id="tutorial-result">
            <% for (c of queryResult) {%>
                <div class="category">
                        <a href="/tutoriais/<%= c.tutorial.link %>">
                            <div class="tutorial">
                                <h3 id="tutorialName">
                                    <%= c.tutorial.title %>
                                </h3>
                                <img src="<%= c.tutorial.thumb %>">
                                <p id="tutorialDesc">
                                    <%= c.tutorial.desc %>
                                </p>
                            </div>
                        </a>
                </div>
                <%} %>
        </section>

        <% } else if (!queryFind && query != null) { %>

            <section class="tutorial-nE">
                <h1>Não encontrei nenhum tutorial para "<%= query %>", que tal perguntar sobre isto no servidor do Kami no Discord?</h1>
                <a href="https://discord.com/invite/9rqCkFB" target="_blank">Servidor do Kami no Discord</a>

            </section>

        <% } else { %>

        <section class="tutorial-list" id="tutorial">
            <% for (c of tutoriais) {%>
                <div class="category">
                    <%for (t of c[1]){ %>
                        <a href="/tutoriais/<%= t.link %>">
                            <div class="tutorial">
                                <h3 id="tutorialName">
                                    <%= t.title %>
                                </h3>
                                <img src="<%= t.thumb %>">
                                <p id="tutorialDesc">
                                    <%= t.desc %>
                                </p>
                            </div>
                        </a>
                        <% }%>
                </div>
                <%} %>
        </section>
        <% } %>
        

        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
          </div>
    </main>

    <footer>
        <%- include('./partials/footer.ejs', {}); %>
    </footer>

</body>
</html>