<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/ficha.css">
        <link rel="stylesheet" href="/css/partials/formFicha.css">
        <script type="text/javascript" src="https://livejs.com/live.js"></script>
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs', {session: session, redirect: `/jogador/ficha/${ficha.nomerpg}`}) %>
    </header>
    <main>
        <div class="bgControls">
            <div class="nomeFicha">
                <h1>Ficha: <%= ficha.nomerpg%>
                </h1>
                <p>Criada por: <%= session.user.username %>#<%=session.user.discriminator%>
                </p>
            </div>
            <div class="divisor"></div>
            <div class="addRmButtons">
                <button id="buttonAddAtb">Adicionar Atributo</button>
                <button id="buttonRmAtb">Remover Atributo</button>
            </div>
            <div class="addControls">
                <input id="inputNomeAtb" placeholder="Nome do Atributo" />
                <input id="inputValorAtb" placeholder="Valor do Atributo" />
                <div class="addButtons">
                    <button id="buttonConfAddAtb">Adicionar</button>
                    <button id="buttonCancAddAtb">Cancelar</button>
                </div>
            </div>
            <div class="divisor"></div>
            <div class="salvarCompButtons">
                <button id="buttonSalvar">Salvar Alterações</button>
                <div class="icons">
                    <img id="share" alt="Icone de compatilhamento" src="/assets/img/shareIcon.svg">
                </div>
            </div>
            <div class="divisor"></div>
            <div class="rnApgButtons">
                <button id="buttonRenomear">Renomear Ficha</button>
                <button id="buttonApagar">Apagar Ficha</button>
            </div>
            <div class="divisor"></div>
            <div class="notificacao">
                <h1>Titulo notificação</h1>
                <p>Mensagem notificação</p>
                <button id="buttonConfirm">Ok</button>
            </div>
        </div>
        <script src="/scripts/buttonHandlerFicha.js" type="module"></script>
    </main>
    <footer>
        <%- include('./partials/betaFooter.ejs', {}); %>
    </footer>
</body>

</html>