<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs', {session: session, redirect: "/"}) %>
    </header>
    <main>
        <section class="info">
            <div class="bot-info">
                <h1>Que tal algo para facilitar seus RPG's?</h1>
                <p>O Kami é um BOT para o aplicativo de mensagens Discord, criado com a intenção
                    de ajudar jogadores e mestres de RPG's, facilitando algumas coisas durante as sessões e ajudando os
                    mesmos a se organizarem, tendo como principais funções a criação de fichas de personagens e a
                    rolagem de dados, entre diversas outras funções.
                    <br>E tem mais coisas vindo por ai!</br>
                </p>
                <a href="/convite" target="_blank">Adicionar o Kami</a>
                <div class="status-box">
                    <div class="status-box-item">
                        <h4 id="serverCount">
                            0
                        </h4>
                        <h5>Servidores</h5>
                    </div>
                    <div class="status-box-item">
                        <h4 id="userCount">
                            0
                        </h4>
                        <h5>Usuários</h5>
                    </div>
                    <div class="status-box-item">
                        <h4 id="fichasCount">
                            0
                        </h4>
                        <h5>Fichas Criadas</h5>
                    </div>
                    <div class="status-box-item">
                        <h4 id="commandsTotal">
                            0
                        </h4>
                        <h5>Comandos Executados</h5>
                    </div>
                </div>
            </div>
        </section>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <script src="/scripts/countUp.js" serverCount="<%= botStatus.serverCount %>"
            userCount="<%= botStatus.userCount %>" fichasCount="<%= botStatus.fichasCount %>"
            commandsTotal="<%= botStatus.commandsTotal %>"></script>
    </main>
    <footer>
        <%- include('./partials/footer.ejs', {}); %>
    </footer>
</body>

</html>